package

import org.springframework.web.bind.annotation.RequestMethod;${package}.${moduleName}.controller;

import java.util.Arrays;
import java.util.Map;

import org.apache.shiro.authz.annotation.RequiresPermissions;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;

import ${package}.${moduleName}.entity.${className}Entity;
import ${package}.${moduleName}.service.${className}Service;
import ${mainPath}.common.utils.PageUtils;


/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Api(tags = "${className}")
@RestController
@RequestMapping("${moduleName}/${pathName}")
public class ${className}Controller {
    @Autowired
    private ${className}Service ${classname}Service;

    /**
     * 列表
     */
    @ApiOperation(value = "列表")
    @RequestMapping(value = "/list", method = RequestMethod.GET)
    @RequiresPermissions("${moduleName}:${pathName}:list")
    public PageUtils list(@RequestParam Map<String, Object> params) {
        PageUtils page = ${classname}Service.queryPage(params);

        return page;
    }


    /**
     * 信息
     */
    @ApiOperation(value = "信息")
    @RequestMapping(value = "/info/{${pk.attrname}}", method = RequestMethod.GET)
    @RequiresPermissions("${moduleName}:${pathName}:info")
    public ${className}Entity info(@PathVariable("${pk.attrname}") ${pk.attrType} ${pk.attrname}) {
            ${className}Entity ${classname} = ${classname}Service.getById(${pk.attrname});

        return ${classname};
    }

    /**
     * 保存
     */
    @ApiOperation(value = "保存")
    @RequestMapping(value = "/save", method = RequestMethod.POST)
    @RequiresPermissions("${moduleName}:${pathName}:save")
    public void save(@RequestBody${className}Entity ${classname}) {
            ${classname}Service.save(${classname});

    }

    /**
     * 修改
     */
    @ApiOperation(value = "修改")
    @RequestMapping(value = "/update", method = RequestMethod.POST)
    @RequiresPermissions("${moduleName}:${pathName}:update")
    public void update(@RequestBody${className}Entity ${classname}) {
            ${classname}Service.updateById(${classname});

    }

    /**
     * 删除
     */
    @ApiOperation(value = "删除")
    @RequestMapping(value = "/delete", method = RequestMethod.POST)
    @RequiresPermissions("${moduleName}:${pathName}:delete")
    public void delete(@RequestBody ${pk.attrType}[]${pk.attrname}s) {
            ${classname}Service.removeByIds(Arrays.asList(${pk.attrname}s));

    }

}
